@mixin same($value, $props...) {
  @each $prop in $props {
    #{$prop}: $value;
  }
}

.field-location {
  .location-button {
    @include same(28px, width, height);
    cursor: pointer;
    border: 0;
    padding: 0;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    background: #fff;
    margin-right: 10px;
    border-radius: 2px;
    &:after {
      @include same(18px, width, height);
      content: "";
      margin: 5px;
      display: block;
      background: url(https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-2x.png) -18px no-repeat;
      background-size: 180px 18px;
    }
    &:hover:after {
      background-position: 0;
    }
    &.active {
      &:after {
        background-position: -144px 0;
      }
    }
  }
  .search {
    @include same(28px, height, line-height);
    @include same(border-box, box-sizing, -webkit-box-sizing);
    width: 100%;
    margin: 10px 0;
    padding: 0 5px;
  }
  .fieldset-wrapper {
    > .form-item {
      width: 50%;
      float: left;
    }
  }
  .form-type-textarea {
    display: none;
  }
}
