/**
 * @file
 * Visual styles for Conference Lite's node component.
 */

/*Node*/
.node--view-mode-teaser {
  padding: 0 0 30px 0;
  margin-bottom: 40px;
}
.node__header {
  padding: 0 0 5px;
}
.node__header .field--name-user-picture {
  padding: 0 0 5px 0;
  max-width: 55px;
}
.node__title {
  font-size: 26px;
  margin-top: 0px;
}
.node--view-mode-teaser .node__header h2 {
  margin-bottom: 20px;
}
.node__links {
  margin-top: 35px;
}
.node__container {
  position: relative;
}
.feed-icon {
  display: block;
  margin: 0px 0 60px;
}
.field--name-user-picture img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.paragraph-responsive-typography-enabled .node__main-content p {
  line-height: calc(155% + 0.2vw);
  font-size: calc(0.85em + 0.2vw);
}
.paragraph-responsive-typography-enabled .node--view-mode-teaser .node__main-content p {
  font-size: 18px;
  line-height: 1.5;
}

/*Post submitted info*/
.node__header .profile {
  display: inline-block;
  margin-right: 40px;
}
.node__header .profile img {
  max-width: 40px;
}
.node__meta {
  font-size: 14px;
  margin: 0 0 10px;
  display: inline-block;
}
.node__submitted-info ~ .comments-count__counter:before {
  content: "-";
}

/* node statistics */
.path-frontpage ul li.statistics-counter {
  display: none;
}
.node--view-mode-teaser ul li.statistics-counter {
  display: none;
}
.statistics-counter:before {
  content: "\e80b";
  font-family: "fontello";
  font-size: 16px;
  margin-right: 10px;
}
