{# empty Twig template #}
<div class="row">
<div class="advansed-two-column col-lg-9">
  <div class="main-region">
    {{ content.main }}
  </div>
</div>  
  <div class="advansed-sidebar-region col-lg-3">
    {{ content.sidebar }}
  </div>
</div>

  