table.rng-date-scheduler-explain {
  table-layout: fixed;
}
table.rng-date-scheduler-explain .forbidden {
  background-color: #fcf4f2;
  color: #a51b00;
}
table.rng-date-scheduler-explain .neutral {
  background-color: #fdf8ed;
  color: #734c00;
}
table.rng-date-scheduler-explain tr.current-indicator {
  background-color: transparent;
}
table.rng-date-scheduler-explain tr.current-indicator td {
  border-bottom: 3px solid #f8f8f8;
}
table.rng-date-scheduler-explain tr.current-indicator td.active-time {
  font-weight: bold;
  border-bottom: 3px solid #333;
}
table.rng-date-scheduler-explain td {
  text-align: center;
}
